<div class="container">
    <div class="row">
    <div class="col-12">
        <h1 class="text-center">Employee Dashboard</h1>
    </div>
    <button [routerLink]="['/emps', 'addEmp']" 
    mat-raised-button color="accent">         
        Add Employee
    </button>
</div>

<div class="row justify-content-center">
    <div class="col-12 my-4">
        <app-emp-list [employeeArr]="employeeArr"></app-emp-list>
        
    </div>
</div>


<!-- 
///////////////////////////////////2/////////////////////////////////


<div class="container">
    <div class="row">
    <div class="col-12">
        <h1 class="text-center">Employee Dashboard</h1>
    </div>
    <button [routerLink]="['/emps', 'addEmp']" 
    mat-raised-button color="accent">         
        Add Employee
    </button>
</div>

<div class="row justify-content-center">
    <div class="col-12 my-4">
        <app-emp-list [employeeArr]="employeeArr"></app-emp-list>
        
    </div>
</div> -->



<!-- 
///////////////////////////////////3/////////////////////////////////


<div class="container">
    <div class="row">
    <div class="col-12">
        <h1 class="text-center">Employee Dashboard</h1>
    </div>
    <button [routerLink]="['/emps', 'addEmp']" 
    mat-raised-button color="accent">         
        Add Employee
    </button>
</div>

<div class="row justify-content-center">
    <div class="col-12 my-4">
        <app-emp-list [employeeArr]="employeeArr"></app-emp-list>
        
    </div>
</div>--->