
<!-- <div class="card h-100">
    <div class="card-body">
        {{postObj | json}}
    </div>
</div> -->


<div class="card h-100 border-info">
    <div class="card-header border-info">
        <h4 class="m-0">
        {{postObj.title}}
        </h4>
    </div>
    <div class="card-body border-info">
        <p>
        {{postObj.content}}
        </p>
    </div>
    <div class="card-footer border-info">
        <button
         [routerLink]="[postObj.id]"
        mat-stroked-button color="primary" class="w-100 border-info">
            Read More....
        </button>
    </div>
</div>




<!-- ////////////////////////////////////2//////////////////////////////////////



<div class="card h-100 border-info">
    <div class="card-header border-info">
        <h4 class="m-0">
        {{postObj.title}}
        </h4>
    </div>
    <div class="card-body border-info">
        <p>
        {{postObj.content}}
        </p>
    </div>
    <div class="card-footer border-info">
        <button
         [routerLink]="[postObj.id]"
        mat-stroked-button color="primary" class="w-100 border-info">
            Read More....
        </button>
    </div>
</div> -->





<!-- ////////////////////////////////////3//////////////////////////////////////



<div class="card h-100 border-info">
    <div class="card-header border-info">
        <h4 class="m-0">
        {{postObj.title}}
        </h4>
    </div>
    <div class="card-body border-info">
        <p>
        {{postObj.content}}
        </p>
    </div>
    <div class="card-footer border-info">
        <button
         [routerLink]="[postObj.id]"
        mat-stroked-button color="primary" class="w-100 border-info">
            Read More....
        </button>
    </div>
</div> -->




<!-- ////////////////////////////////////4//////////////////////////////////////



<div class="card h-100 border-info">
    <div class="card-header border-info">
        <h4 class="m-0">
        {{postObj.title}}
        </h4>
    </div>
    <div class="card-body border-info">
        <p>
        {{postObj.content}}
        </p>
    </div>
    <div class="card-footer border-info">
        <button
         [routerLink]="[postObj.id]"
        mat-stroked-button color="primary" class="w-100 border-info">
            Read More....
        </button>
    </div>
</div> -->





<!-- ////////////////////////////////////5//////////////////////////////////////



<div class="card h-100 border-info">
    <div class="card-header border-info">
        <h4 class="m-0">
        {{postObj.title}}
        </h4>
    </div>
    <div class="card-body border-info">
        <p>
        {{postObj.content}}
        </p>
    </div>
    <div class="card-footer border-info">
        <button
         [routerLink]="[postObj.id]"
        mat-stroked-button color="primary" class="w-100 border-info">
            Read More....
        </button>
    </div>
</div> -->






