table{
  width: 100%;
}

.mat-header-cell{
  font-size: 18px !important;
  text-align: center !important;
  font-weight: bold;
  color: black !important;
}

.mat-cell{
  text-align: center !important;
}