

<div class="row">
    <div class="col-12 mb-4 text-right">
        <h1 class="text-center">Post Dashboard</h1>
       <!-- <button        
        routerLink= "/posts/addPost"
        mat-raised-button color="primary">   -->
        <button        
        [routerLink]="['/posts', 'addPost']"
        mat-raised-button color="primary">         
            Add Post
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-4"
        *ngFor="let post of postsArr">
        <app-post-card [postObj]="post"></app-post-card>
    </div>
</div>



<!-- 
//////////////////////////////////2////////////////////////////



<div class="row">
    <div class="col-12 mb-4 text-right">
        <h1 class="text-center">Post Dashboard</h1>
        <button        
        [routerLink]="['/posts', 'addPost']"
        mat-raised-button color="primary">         
            Add Post
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-4"
        *ngFor="let post of postsArr">
        <app-post-card [postObj]="post"></app-post-card>
    </div>
</div>
 -->


<!-- 
//////////////////////////////////3////////////////////////////



<div class="row">
    <div class="col-12 mb-4 text-right">
        <h1 class="text-center">Post Dashboard</h1>
        <button        
        [routerLink]="['/posts', 'addPost']"
        mat-raised-button color="primary">         
            Add Post
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-4"
        *ngFor="let post of postsArr">
        <app-post-card [postObj]="post"></app-post-card>
    </div>
</div>
 -->

 <!-- 
//////////////////////////////////4////////////////////////////



<div class="row">
    <div class="col-12 mb-4 text-right">
        <h1 class="text-center">Post Dashboard</h1>
        <button        
        [routerLink]="['/posts', 'addPost']"
        mat-raised-button color="primary">         
            Add Post
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-4"
        *ngFor="let post of postsArr">
        <app-post-card [postObj]="post"></app-post-card>
    </div>
</div>
 -->


 <!-- 
//////////////////////////////////5////////////////////////////



<div class="row">
    <div class="col-12 mb-4 text-right">
        <h1 class="text-center">Post Dashboard</h1>
        <button        
        [routerLink]="['/posts', 'addPost']"
        mat-raised-button color="primary">         
            Add Post
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-4"
        *ngFor="let post of postsArr">
        <app-post-card [postObj]="post"></app-post-card>
    </div>
</div>
 -->