<div class="row">
    <div class="col-6">
        <div class="card">
    <h1>Employee Details</h1>
  <div class="card-body text-center">
    <h5 class="card-title">{{empObj.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{empObj.role}}</h6>
    <img 
    [src]="empObj.avatar"
    [alt]="empObj.title"
    [title]="empObj.title"/>
    <p class="card-text">Email:{{empObj.email}}</p>
    <p class="card-text">salary:Rs{{empObj.salary}}</p>

    <button 
    routerLink="edit"
    mat-stroked-button color="primary" class="w-100">EDIT</button>
    <button 
   (click) ="onRemove()"
    mat-stroked-button color="warn" class="w-100 mt-2">DELETE</button>
  </div>
</div>
    </div>
</div>



<!-- 
////////////////////////////////2//////////////////////////////


<div class="row">
    <div class="col-6">
        <div class="card">
    <h1>Employee Details</h1>
  <div class="card-body text-center">
    <h5 class="card-title">{{empObj.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{empObj.role}}</h6>
    <img 
    [src]="empObj.avatar"
    [alt]="empObj.title"
    [title]="empObj.title"/>
    <p class="card-text">Email:{{empObj.email}}</p>
    <p class="card-text">salary:Rs{{empObj.salary}}</p>

    <button 
    routerLink="edit"
    mat-stroked-button color="primary" class="w-100">EDIT</button>
    <button 
   (click) ="onRemove()"
    mat-stroked-button color="warn" class="w-100 mt-2">DELETE</button>
  </div>
</div>
    </div>
</div> -->





<!-- 
////////////////////////////////3//////////////////////////////


<div class="row">
    <div class="col-6">
        <div class="card">
    <h1>Employee Details</h1>
  <div class="card-body text-center">
    <h5 class="card-title">{{empObj.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{empObj.role}}</h6>
    <img 
    [src]="empObj.avatar"
    [alt]="empObj.title"
    [title]="empObj.title"/>
    <p class="card-text">Email:{{empObj.email}}</p>
    <p class="card-text">salary:Rs{{empObj.salary}}</p>

    <button 
    routerLink="edit"
    mat-stroked-button color="primary" class="w-100">EDIT</button>
    <button 
   (click) ="onRemove()"
    mat-stroked-button color="warn" class="w-100 mt-2">DELETE</button>
  </div>
</div>
    </div>
</div> -->