<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-info" *ngIf="postObj">
    <div class="card-header bg-info">
        <h1>{{postObj.title}}</h1>
    </div>
    <div class="card-body">
        <p class="m-0">{{postObj.content}}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
  
    </div>
    <div class="card-footer d-flex justify-content-between border-info">
        <button 
        routerLink="edit"
        mat-stroked-button color="primary" class="border-info">Edit Post</button>
        <button
        type="button"
        (click)="onRemove()"
         mat-stroked-button color="warn" class="border-info">Remove Post</button>
    </div>
</div>
    </div>
</div>





<!-- //////////////////////////////////2////////////////////////////////////////




<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-info" *ngIf="postObj">
    <div class="card-header bg-info">
        <h1>{{postObj.title}}</h1>
    </div>
    <div class="card-body">
        <p class="m-0">{{postObj.content}}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
  
    </div>
    <div class="card-footer d-flex justify-content-between border-info">
        <button 
        routerLink="edit"
        mat-stroked-button color="primary" class="border-info">Edit Post</button>
        <button
        type="button"
        (click)="onRemove()"
         mat-stroked-button color="warn" class="border-info">Remove Post</button>
    </div>
</div>
    </div>
</div> -->





<!-- //////////////////////////////////3////////////////////////////////////////




<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-info" *ngIf="postObj">
    <div class="card-header bg-info">
        <h1>{{postObj.title}}</h1>
    </div>
    <div class="card-body">
        <p class="m-0">{{postObj.content}}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
  
    </div>
    <div class="card-footer d-flex justify-content-between border-info">
        <button 
        routerLink="edit"
        mat-stroked-button color="primary" class="border-info">Edit Post</button>
        <button
        type="button"
        (click)="onRemove()"
         mat-stroked-button color="warn" class="border-info">Remove Post</button>
    </div>
</div>
    </div>
</div> -->





<!-- //////////////////////////////////4////////////////////////////////////////




<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-info" *ngIf="postObj">
    <div class="card-header bg-info">
        <h1>{{postObj.title}}</h1>
    </div>
    <div class="card-body">
        <p class="m-0">{{postObj.content}}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
  
    </div>
    <div class="card-footer d-flex justify-content-between border-info">
        <button 
        routerLink="edit"
        mat-stroked-button color="primary" class="border-info">Edit Post</button>
        <button
        type="button"
        (click)="onRemove()"
         mat-stroked-button color="warn" class="border-info">Remove Post</button>
    </div>
</div>
    </div>
</div> -->





<!-- //////////////////////////////////5////////////////////////////////////////




<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-info" *ngIf="postObj">
    <div class="card-header bg-info">
        <h1>{{postObj.title}}</h1>
    </div>
    <div class="card-body">
        <p class="m-0">{{postObj.content}}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
  
    </div>
    <div class="card-footer d-flex justify-content-between border-info">
        <button 
        routerLink="edit"
        mat-stroked-button color="primary" class="border-info">Edit Post</button>
        <button
        type="button"
        (click)="onRemove()"
         mat-stroked-button color="warn" class="border-info">Remove Post</button>
    </div>
</div>
    </div>
</div> -->




